.item {
	display: block;
	width: 229px;
	max-height: 142px;
	margin-bottom: 30px;
	margin-right: 20.5px;
	cursor: pointer;
}

.item:hover {
	box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}

@media (max-width: 767px) {
	.item {
		margin-right: 0;
		width: 280px;
		max-height: 171px;
	}

	.picture {
		width: 100%;
		height: 171px;
	}
}

