.container {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

.date {
	font-family: Roboto;
	font-weight: 400;
	font-size: 13px;
	line-height: 15px;
	color: #999;
}

.text {
	font-family: Roboto;
	font-weight: 400;
	font-size: 13px;
	line-height: 15px;
	color: #000;
	margin-top: 5px;
}